
<header>
        <div id="header1">
            <nav>
                <ul>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/contact">Contact Us</a></li>
                    <li><a href="#/about">About Us</a></li>
                    <li><a href="#/services">Services</a></li>
                </ul>
            </nav>  
        </div>

    </header>
    <main id="container">
        <div id="top_wrapper">
            <div id="logo"><img src="images/logo_360.png" /></div>
            <div id="post_a_job">
                <h1>Post a Job</h1>
                <p>Post your job for free</p>
                <p>It takes less than 60 seconds</p>
                <p>View profiles of 1000s jobseekers</p>
                <p>Details of jobseekers are verified</p>
                <input type="button" id="submit" class="button" value="Post a Job"> 
            </div>
            <div id="foot1"> 
                
                    <h1 id="hire">Hire Drivers, Guards, Home and Office Helper</h1>
                        <div>
                        <ul>
                            <li>Save time by Hiring Online </li>
                            <li><span>.</span></li>
                            <li> Hassle free</li>
                            <li><span>.</span> </li>
                            <li>Trust worthy Candidates</li>
                        </ul>
                    </div>
            </div>

        </div>
        <div id="mid_wrapper">
            <div class="mid first_mid" > 
                <p>HOW IT WORKS</p> 
                <div>
                    <ul class="image_class">
                        <li><a href="#"><img src="images/icon1_360.png" class=" pix work_step" id="note1"/></a><p class="info">Get Started with Post a Job</p></li>
                        <li><img src="images/arrow.png" class="pix arrow" /></li>
                        <li><a href="#"><img src="images/icon2_360.png" class="pix work_step" id="note2"/></a><p class="info"> Submit Job Information</p></li>
                        <li><img src="images/arrow.png" class="pix arrow" /></li>
                        <li><a href="#"><img src="images/icon3_360.png" class="pix work_step" id="note3"/></a><p class="info"> Search Job Seekers for Job</p></li>
                        <li><img src="images/arrow.png" class="pix arrow" /></li>
                        <li><a href="#"><img src="images/icon4_360.png" class="pix work_step" id="note4"/></a><p class="info">View their mobile Numbers</p></li>
                    </ul>
                    
                </div>
            </div>
            <div class="mid second_mid"> 
                <div>
                    <h1> Looking for a Job</h1>
                    <p> Create your Profile for free and get SMS for new Jobs</p>
                    <p> find your Dream Job</p>

                    <input type="button"  id ="submit" class="button" value="Get Started"/>
                </div>
            </div>
            <div class="mid third_mid"> <h1>Our Partners</h1>
                <ul class="image_class">
                    <li><a href="#"><img src="images/punjab.jpg" id="punjab" class="pix partners_class"></a></li>   
                    <li><a href="#"><img src="images/faces_pakistan.jpg" id="faces_pakistan" class="pix partners_class"></a></li>
                    <li><a href="#"><img src="images/success.jpg" id="success" class="pix partners_class"></a></li>
                    <li><a href="#"><img src="images/tevta.jpg" id="tevta" class="pix partners_class"></a></li>
                </ul>
            </div>  
        </div>
    </main>
    <!-- <footer>
            <ul>
              <li>Get Background Check</li>
              <li>Privacy Policy</li>
              <li>Pricing</li>
              <li>About Us</li>
            </ul>
           
    </footer> -->